// typography
$dark: #333;
$light: #fff;
$primary-color: #fff;
$secondary-color: #333;
$secondary-bg-color: #3c3c3c;
$primary-bg-color: #f4f4f4;
$border-primary-grey: #cccccc;
$border-secondary-grey: #535353;
$like-color-normal: #bebcbc;

$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-30: 30px;
$border-radius-50-per: 50%;
$border-radius-100-per: 100%;
